body{
    background-color: rgb(26, 26, 26);
    color: rgb(153, 153, 153);

    background-image: url(Asset/webp/DotsBG.webp);
    background-size: cover;
    background-repeat: repeat-y;
    background-position: center;
}

.HeaderBlockade{
    display: grid;
    align-self: center;
    align-content: center;
    width: auto;
    height: fit-content;
    background-color: rgb(46, 46, 46);
    box-shadow: 5px 7px 10px rgb(17, 17, 17);

    background-image: url(Asset/jpg-png/CarbonFiber.jpg);
    align-self: center;
    align-content: center;
    background-position: center;
}

.FreewareText{
    text-align:center;
    display: inline-block;
    align-self: center;

    font-size: 1cm;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-bottom: 50px;

    background-image: url(Asset/gif/Dawn.gif);
    background-repeat: repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
}

.H1{
    font-size: 3cm;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-image: url(Asset/gif/Dawn.gif);
    background-repeat: repeat;
    background-position: center;
    color: transparent;
    background-clip: text;
    align-self: center;
}

#Version {
    color: white;
    font-size: 10px;
}

.container{
    width: auto;
    height: fit-content;
    background-color: rgb(22, 27, 31);
    color: aliceblue;
    border-radius: 15px;

    display: grid;
    padding: 7px;
    grid-gap: 7px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    box-shadow:5px 7px 10px rgb(18, 18, 19);
}

.Item1:hover, .Item2:hover, .Item3:hover{
    opacity: 1;

    transition: opacity 0.7s ease-in-out;
    -webkit-transition: opacity 0.7s ease-out;
    -moz-transition: opacity 0.7s ease-in-out;
}

.Item1, .Item2, .Item3{
    opacity: 0.5;
    width: auto;
    height: auto;
    align-self:center;
    background-color: rgb(34, 30, 30);
    border-radius: 15px;

    box-shadow:5px 7px 10px rgb(18, 18, 19);
    font-size:medium;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

    padding: 7px;
    animation-duration: 3;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.Item1Header, .Item2Header, .Item3Header{
    text-shadow: 5px 7px 10px rgb(31, 24, 24);
    font-size: larger;
    text-align: center;
}

.Item1Button{
    transition: 0.4s;
    border: 2px solid #04AA6D;
    background-color: transparent;
    border-radius: 5px;
    font-size:larger;
    color: white;

    text-align: left;
    width: auto;
}

.Item2Button{
    transition: 0.4s;
    border: 2px solid #4257cc;
    background-color: transparent;
    border-radius: 5px;
    font-size:larger;
    color: white;

    text-align: left;
    width: auto;
}

.Item3Button{
    transition: 0.4s;
    border: 2px solid #da2626;
    background-color: transparent;
    border-radius: 5px;
    font-size:larger;
    color: white;

    text-align: left;
    width: auto;
}

.Item1Button:hover{
    background-color: #04AA6D;
}

.Item2Button:hover{
    background-color: #4257cc;
}

.Item3Button:hover{
    background-color: #da2626;
}
